

 @font-face{font-family:Lato;font-style:normal;font-weight:400;src:url(../fonts/lato/lato-regular.eot);src:url(../fonts/lato/lato-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/lato/lato-regular.woff) format('woff'),url(../fonts/lato/lato-regular.ttf) format('truetype'),url(../fonts/lato/lato-regular.svg#latoregular) format('svg')}
 
 h1 {
 	font-family:Lato,Helvetica,Sans-serif;
 }

 .form-label {
 	font-size:16pt;
 }

 .demo-row {
 	margin:20px 0;
 }

 .box-center {
 	margin: 0 25%;
 }

 #logo {
 	width: 57px;
 	position: relative;
	top: -4px;
 }